.pixelFont {
  font-family: 'Pixelify Sans', sans-serif;
}
.arialFont {
  font-family: Arial, Helvetica, sans-serif;
}
.tekoFont {
  font-family: 'Teko', sans-serif;
}

.barContainerLeft {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 20px; /* Set the height of the bar */
  margin-bottom: 5px; /* Add some spacing between bars */
}
.barContainerRight{
  display: flex;
  align-items: center;
  height: 20px; /* Set the height of the bar */
  margin-bottom: 5px; /* Add some spacing between bars */
}
.bar {
  height: 30px;
  align-items: right;
  text-align: right;
  align-self: right;
  border-radius: 10px;
  transition: 0.8s ease-in-out; /* Add a transition effect for width changes */
}

.hpBar {
  background-color: #60e878;
}
.atkBar {
  background-color: #f07070;
}

.defBar {
  background-color: #efe459;
}
.spAtkBar {
  background-color: #e860e6;
}
.spDefBar {
  background-color: #f2a255;
}
.spdBar {
  background-color: #FFF78A;
}

.flex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.whiteText {
  color: black;
}

.spanPad {
  padding: 10px;
}


.pokeInfoContainer {
  position: fixed;
  height: 95vh;
  width: 95vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  backdrop-filter: blur(10.4px);
  -webkit-backdrop-filter: blur(10.4px);
  outline: 1px outset rgb(255, 204, 0);
  z-index: 1000;
}

.close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 2rem;
  color: rgb(255, 204, 0);
}

.close:hover {
  cursor: pointer;
}

.pokeInfo {
  height: 100%;
  display: grid;
  grid-template-areas: 'leftInfo midInfo rightInfo';
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 50px;
}

.leftInfo {
  grid-area: leftInfo;
  text-align: right;
  font-size: clamp(1.5rem, 2.5vw, 2rem); 
  -moz-transform: scale(1.1) skew(3deg, -25deg);
  -webkit-transform: scale(1.1) skew(3deg, -25deg);
  -o-transform: scale(1.1) skew(3deg, -25deg);
  -ms-transform: scale(1.1) skew(3deg, -25deg);
  transform: scale(1.1) skew(3deg, -25deg);
}

.midInfo {
  grid-area: midInfo;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.midInfo img {
  height: 500px;
  width: 500px;
  animation: float 3s ease-in-out infinite;
  padding: 0 50px 50px 50px;
}

.rightInfo {
  grid-area: rightInfo;
  text-align: left;
  font-size: clamp(1.5rem, 2.5vw, 2rem); 
  -moz-transform: scale(1.1) skew(-3deg, 25deg);
  -webkit-transform: scale(1.1) skew(-3deg, 25deg);
  -o-transform: scale(1.1) skew(-3deg, 25deg);
  -ms-transform: scale(1.1) skew(-3deg, 25deg);
  transform: scale(1.1) skew(-3deg, 25deg);
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media screen and (max-width: 768px) {

  .pokeInfo {
  height: 100%;
  display: grid;
  grid-template-areas: 'midInfo midInfo'
                        'leftInfo rightInfo';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  place-items: center;
  padding: 50px;
}

.midInfo img {
height: 200px;
width: 200px;
animation: float 3s ease-in-out infinite;
padding: 0;
}
.midInfo h2{
  margin-top: 20px;
  font-size: 3rem;
}
.rightInfo {
  grid-area: rightInfo;
  text-align: left;
  /* font-size: 1.5rem; */
  -moz-transform: none;
  -webkit-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  display: flex;
  align-items: right;
}
.leftInfo{
  grid-area: leftInfo;
  text-align: left;
  /* font-size: 1.5rem; */
  -moz-transform: none;
  -webkit-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  display: flex;
  align-items: left;
}
.bar {
  height: 1.5rem;
  border-radius: 5px;
  transition: 0.8s ease-in-out; /* Add a transition effect for width changes */
}
.spanPad {
  padding: 0px;
}
.barContainerLeft{
  justify-content: flex-start;
}
.barContainerRight{
  justify-content: left;
}

}