/* start of header component */
a {
  text-decoration: none;
}

.header {
  height: 350px;
  width: 90vw;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 20px 20px 20px;
  display: grid;
  grid-template-areas:
    'logo title credits'
    'searchBar searchBar searchBar'
    'filterPokeType filterPokeType filterPokeType';
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  z-index: 10;
  background: rgba(255, 255, 255, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10.4px);
  border-radius: 0 0 80px 80px;
  margin-bottom: 100px;
  outline: 2px ridge rgb(255, 204, 0);
}
.scrolledHeader {
  height: 180px;
  width: 90vw;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 20px 20px 20px;
  display: grid;
  grid-template-areas:
    'searchBar searchBar searchBar'
    'filterPokeType filterPokeType filterPokeType';
  grid-template-columns: auto 1fr auto;
  align-items: center;
  z-index: 10;
  background: rgba(255, 255, 255, 0.19);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10.4px);
  border-radius: 0 0 80px 80px;
  margin-bottom: 100px;
  outline: 2px ridge rgb(255, 204, 0);
}

.logo {
  grid-area: logo;
  display: flex;
  text-align: left;
  place-items: center;
  align-items: center;
}

.logo span{
  color: white;
  place-items: center;
  align-items: center;
  margin: 10px;
  font-size: 2rem;
  font-family: "Pixelify Sans", sans-serif;
}
.logo span:hover, .logoSocial:hover, .credits span:hover{
  cursor: pointer;
  opacity: 0.5;
} 

.logoSocial{
  align-items: center;
  width: 30px;
  height: 30px;
  color: #a8b820;
  align-items: center;
  margin: 10px;
}


.title {
  grid-area: title;
  text-align: center;
}
.title img{
  width: 300px;
}

.credits {
  grid-area: credits;
  text-align: right;
  font-size: 1.5rem;
}

.credits span{
  color: white;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 2rem;
}



.searchBar {
  grid-area: searchBar;
  text-align: center;
}


/* start of searchbar in header */

.searchBar input[type='text'] {
  padding: 5px;
  font-size: 1.5rem;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.051);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.4px);
  -webkit-backdrop-filter: blur(10.4px);
  border: none;
  outline: 5px outset rgb(255, 204, 0);
}
.searchBar input[type='text']::placeholder {
  font-family: 'Pixelify Sans', sans-serif;
  color: white;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5),
    -1px 1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.searchBar input[type='text']:focus {
  outline: 5px groove rgb(255, 204, 0);
}
/* end of searchbar in header */

/* start of scrolledSearchbar in header */

.scrolledSearchBar {
  grid-area: searchBar;
  text-align: center;
}
.scrolledSearchBar input[type='text'] {
  padding: 5px;
  margin-top: 30px;
  font-size: 1.5rem;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.051);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.4px);
  -webkit-backdrop-filter: blur(10.4px);
  border: none;
  outline: 5px outset rgb(255, 204, 0);
}
.scrolledSearchBar input[type='text']::placeholder {
  font-family: 'Pixelify Sans', sans-serif;
  color: white;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5),
    -1px 1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.scrolledSearchBar input[type='text']:focus {
  outline: 5px groove rgb(255, 204, 0);
}
/* end of scrolledSearchbar in header */

.filterPokeType {
  padding: 20px;
  grid-area: filterPokeType;
  text-align: center;
}
.filterPokeType button {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  filter:contrast(0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.4px);
  -webkit-backdrop-filter: blur(10.4px);
  outline: 1px outset rgb(255, 204, 0);
  color: white;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000,
    1px 1px 0 #000000;
}
.filterPokeType button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.filterPokeType .toggled{
  filter: none;
}
.normal {
  background-color: #a8a878;
}
.fire {
  background-color: #f08030;
}
.water {
  background-color: #6890f0;
}
.electric {
  background-color: #f8d030;
}
.grass {
  background-color: #78c850;
}
.ice {
  background-color: #98d8d8;
}
.fighting {
  background-color: #c03028;
}
.poison {
  background-color: #a040a0;
}
.ground {
  background-color: #e0c068;
}
.flying {
  background-color: #a890f0;
}
.psychic {
  background-color: #f85888;
}
.bug {
  background-color: #a8b820;
}
.rock {
  background-color: #b8a038;
}
.ghost {
  background-color: #705898;
}
.dragon {
  background-color: #7038f8;
}
.dark {
  background-color: #705848;
}
.steel {
  background-color: #b8b8d0;
}
.fairy {
  background-color: #f0b6bc;
}

.hidden{
  display: none;
}
/* end of header component */


/* mobile view */

@media screen and (max-width: 768px) {

.header {
  height: 200px;
  width: 90vw;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 20px 20px 20px;
  display: grid;
  grid-template-areas:
    'title title title'
    'searchBar searchBar searchBar'
    'logo credits';
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  z-index: 10;
  margin-bottom: 100px;
}
.scrolledHeader{
  height: 100px;
  border-radius: 0 0 50px 50px;
}
.filterPokeType{
  display: none;
}
.logo{
  display: none;
}
.credits{
  display: none;
}
.title{
  font-size: 2rem;
}
.searchBar input[type='text'] {
  font-size: 1rem;
}
.scrolledSearchBar input[type='text'] {
  font-size: 1rem;
}
}