* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./assets/PokemonBg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(5);
}
/* start of background music */

.youtube-player {
  display: none;
}
/* end ofbackground music */

/* start of app styles */
.appContent {
  min-height: 100vh;
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 0 auto;
  max-width: 80vw;
  padding: 0 20px;
  position: relative; /* Add this line */
}

/* end of app styles */





.cardLoader img {
  width: 100px;
  height: 100px;
  animation: float 2s ease-in-out infinite;
}