*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardContainer{
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 300px;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  background-color: aliceblue;
}

.imageContainer{
  background-image: url(./assets/pngegg.png);
  background-size:cover;
  background-repeat: none;
  background-position: center;
}

img{
  margin-top: 20px;
  display: flex;
  height: 100px;
  width: 100px;
}

.pokeName{
font-size: 1.5rem;
}

.infoContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
}

.contentContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.attackContainer{
  margin: 20px;
}

.attackContainer span{
  margin: 20px;
  font-size: 1rem;
}